body{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    background-color: #5daadd;
    font-family: Arial, sans-serif;
    color: #68232377;
}
div{
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    background-color: azure;
    max-width: 600px;
    box-shadow: 0 10px rgba(rgb(141, 52, 52), rgb(69, 150, 69), rgb(13, 13, 172), alpha);
}
h1 {
    
}